		<meta charset="UTF-8">
		<title>To Do Do Do</title>
		<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
        <link rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <style>
        	body{
        		padding-top: 100px;
        		width:100%;
        	}
        	.logo{
        		color: #f4511e;
      			font-size: 20px;
        	}
        	.navBackground{
        		color: #f4511e;
        	}
        </style>