<!doctype html>
<html>
	<head>
		<% include ./head %>
	</head>
	<body class='container'>
		<header>
			<% include ./navigation %>
		</header>
		<main>
			<div class='jumbotron'>
				<h1>WelCome!</h1>
				<a class='btn btn-primary' href='/'>Click</a>
			</div>
		</main>
	</body>
</html>